.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border: 1px solid #888;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.2);
  animation: animation-fade 0.4s ease-in-out;
  width: 31.25rem;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-header {
  background-color: var(--primary);
  color: white;
  padding: 0.5rem 0.5rem;
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
}

.modal-header h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
  
.modal-close {
  background-color: inherit;
  color: white;
  font-size: 2rem;
  line-height: 1rem;
  align-self: flex-start;
}
  
.modal-close:hover {
  color: rgba(255, 255, 255, 0.7);
}

.modal-footer {
  border-top: var(--light-border);
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal-footer-multiple-items {
  justify-content: space-between;
}

.modal form {
  border: none;
  box-shadow: none;
}

@keyframes animation-fade {
  0% {
    opacity: 0;
    top: 40%;
  }

  100% {
    opacity: 1;
    top: 50%;
  }
}