.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    justify-content: center;
    justify-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.time-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem 1rem;
    color: rgba(0, 0, 0, 0.7);
    margin-right: 1rem;
}