.container {
    background-color: white;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 1.5rem 0;
    position: relative;
}

.container form {
    border: none;
    box-shadow: none;
    width: 100%;
}

.heading-container {
    display: flex;
    column-gap: 1rem;
}

.button-container {
    display: flex;
    max-width: calc(var(--form-max-width) - var(--form-padding) * 2);
    width: 100%;
    column-gap: 0.5rem;
}

.button-container > * {
    flex: 1 1 0;
}

@media (max-width: 30em) {
    .container {
        width: calc(100% + var(--main-padding) * 2);
        margin-left: calc(-1 * var(--main-padding));
    }

    .button-container {
        padding-inline: 0.5rem;
    }
}