:root {
  --primary: #0077c0;
  --secondary: #a7ddff;
  --tertiary: #d8d8d8; 
  --danger: #cc0033;
  --success: #4BB543;
  --warning: #ffcc00;
  --light-border: 1px solid#bbbbbb;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #e8f0f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  padding: 1rem;
  max-width: 93.75rem;
  margin-inline: auto;
}

h1 {
  text-align: center;
  margin: 1em;
}

input {
  font-size: 1rem;
}

.link {
  color: rgb(21, 56, 255);
}

.link:hover {
  text-decoration: underline;
}

.button-big {
  font-size: 1.25rem !important;
}

.button:disabled {
  opacity: 0.5;
}

.button {
  border-radius: 0.25rem;
  padding: 0.375em 0.75em;
  font-size: 0.875rem;
  border: 1px solid transparent;
}

.button-primary {
  background-color: var(--primary);
  color: white;
}

.button-primary:hover {
  background-color: #0067a7;
}

.button-secondary {
  background-color: var(--secondary);
  color: var(--primary);
}

.button-secondary:hover {
  background-color: #94c4e2;
}

.button-tertiary {
  box-sizing: border-box;
  background-color: var(--tertiary);
  color: rgb(65, 65, 65);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.button-tertiary:hover {
  background-color: #c0c0c0; 
}

.form {
  max-width: 500px;
  padding: 2rem;
  background-color: white;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  margin-inline: auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: inherit;
}

.floating-input {
  display: flex;
  flex-direction: column;
  position: relative;
  --input-padding: 0.75rem;
  background-color: inherit;
}

.floating-input > input {
  padding: var(--input-padding);
  transition: 0.3s ease;
  background-color: inherit;
  border: var(--light-border);
  border-radius: 0.25rem;
}

.floating-input > label {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  left: var(--input-padding);
  transition: 0.3s ease;
  color: rgba(0, 0, 0, 0.4);
  background-color: transparent;
  font-size: 0.875rem;
}

.floating-input > input:focus + label, .floating-input > input:not(:placeholder-shown) + label {
  translate: -0.1875rem -0.5rem;
  color: initial;
  z-index: 9999;
  height: auto;
  background-color: inherit;
  padding: 0 0.25rem;
}