.exercise-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11.25rem, 1fr));
    justify-content: center;
    gap: 1rem;
}

.exercise {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
    background-color: white;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.exercise > h2 {
    font-size: 1rem;
}

.exercise-footer {
    display: flex;
    justify-content: space-between;
}

.exercise-footer > p {
    color: rgba(0, 0, 0, 0.7);
}

.btn {
    border-radius: 0.25em;
    padding: 0.25em 0.75em;
}

.input {
    border-radius: 0.25em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-block: 2em;
    padding: 0.25em;
    padding-left: 1.75em;
    background-image: url("data:image/svg+xml,%3Csvg%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%20data-prefix%3D%22fas%22%20data-icon%3D%22magnifying-glass%22%20class%3D%22svg-inline--fa%20fa-magnifying-glass%20%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22rgba(0%2C0%2C0%2C0.3)%22%20d%3D%22M416%20208c0%2045.9-14.9%2088.3-40%20122.7L502.6%20457.4c12.5%2012.5%2012.5%2032.8%200%2045.3s-32.8%2012.5-45.3%200L330.7%20376c-34.4%2025.2-76.8%2040-122.7%2040C93.1%20416%200%20322.9%200%20208S93.1%200%20208%200S416%2093.1%20416%20208zM208%20352a144%20144%200%201%200%200-288%20144%20144%200%201%200%200%20288z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: left;
    background-position-x: 0.25em;
    width: 100%;
}

.search {
    position: relative;
    max-width: 31.25rem;
    margin-inline: auto;
}

.search button {
    background-color: transparent;
    position: absolute;
    top: 2.3em;
    right: 0.25em;
    cursor: pointer;
    user-select: none;
}

.search button * {
    pointer-events: none;
}
