.heading {
    margin-bottom: 1em;
    font-size: 1.125rem;
}

.p {
    margin-bottom: 1.25em;
}

.muscle {
    display: inline-block; /* must be block for first letter to work */
}

.muscle:first-child::first-letter {
    text-transform: uppercase;
}

.muscle:not(:last-child)::after {
    content: ',\00a0';
}

.muscle:last-child::after {
    content: '.';
}