.error {
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    padding: 1.25rem 1.875rem;
    margin-inline: auto;
    max-width: 31.25rem;
    color: var(--danger);
    font-weight: bold;
    line-height: 1.25rem;
    text-shadow: 1px 1px rgba(250, 250, 250, 0.3);
    text-align: center;
}

.form-error {
    max-width: 100% !important;
    margin: 0 !important;
}

.margin {
    margin: 1rem;
}